<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>THAITRACTORBOOKING</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>agri</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>อนุญาติให้ THAITRACTORBOOKING เข้าถึงกล้องถ่ายรูปของคุณเพื่อถ่ายรูปเพื่อนำไปใช้เป็นภาพโปรไฟล์</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>อนุญาติให้ THAITRACTORBOOKING เข้าถึงตำแหน่งปัจจุบันของคุณเพื่อแสดงข้อมูลรถไถใกล้คุณและแสดงระยะทางจากตำแหน่งของคุณเพื่อความสะดวกในการจองบริการ</string>
		<key>NSPhotoLibraryUsageDescription</key>
        <string>อนุญาติให้ THAITRACTORBOOKING เข้าถึงรูปภาพของคุณเพื่อให้คุณสามารถเลือกรูปมาใช้เป็นภาพโปรไฟล์ผู้ใช้งานในระบบ</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>อนุญาติให้ THAITRACTORBOOKING ใช้ตำแหน่งของคุณเพื่อค้นหาผู้ให้บริการรถไถหรือแปลงเกษตรใกล้เคียง และแสดงระยะทางจากตำแหน่งของคุณเพื่อความสะดวกในการจองบริการ</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>อนุญาติให้ THAITRACTORBOOKING ใช้ตำแหน่งของคุณเพื่อค้นหาผู้ให้บริการรถไถหรือแปลงเกษตรใกล้เคียง และแสดงระยะทางจากตำแหน่งของคุณเพื่อความสะดวกในการจองบริการ</string>
        <key>NSCameraUsageDescription</key>
        <string>อนุญาติให้ THAITRACTORBOOKING ใช้กล้องเพื่อให้คุณสามารถถ่ายรูปสินค้าและอัปโหลดเข้าสู่ระบบ</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>อนุญาติให้ THAITRACTORBOOKING เข้าถึงการแจ้งเตือนด้วยเสียง</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>com.apple.developer.siri</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
